{
  "plugins": ["prettier-plugin-svelte"],
  "bracketSpacing": true,
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "svelteSortOrder": "scripts-markup-styles-options",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "singleAttributePerLine": true,
  "svelteIndentScriptAndStyle": true
}
